.terraform
graph.png
.DS_Store
*.swp
.env

# Client side excludes
client/node_modules
client/dist/index*
client/dist/docs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
npm-debug.log

# Server side exclude
server/.glide/
server/server
server/vendor
