.terraform
graph.png
.DS_Store
*.swp
.env

# Client side excludes
client/node_modules
client/dist/index*
client/dist/docs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/coverage
npm-debug.log

# Server side exclude
# server/.glide/
server/src/pqvp/pqvp
server/src/pqvp/vendor
server/pkg/

# Terraform task definition
terraform/aws-us-west-2/task-definitions/pqvp.json
