$mobile: new-breakpoint(max-width 500px);
$tablet: (
  media: 800px,
);

$uswds: (
  media: 951px,
);


.container--content {
  @include span-columns(10);
  @include shift(1);
  @include grid-media($tablet) {
    @include span-columns(8);
    @include shift(2);
  }
}

.container--left {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(7);
  }
}

.container--right {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(4);
  }
}

.container--logo {
  @include grid-media($uswds) {
    width: 40% !important;
  }
}

.container--logo-image {
  line-height: 2rem;
  @include grid-media($uswds) {
    top: 10px;
  }
}

.container--logo-text {
  @include grid-media($uswds) {
    float: left;
    margin-top: 12px;
  }
}

// Autocomplete

.autocomplete__item {
  padding: 2px 6px;
  cursor: default;
}

.autocomplete__item--highlighted {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

// Image & Icon Styles

.icon--disabled {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon--dismiss {
  height: 16px;
  position: absolute;
  width: 16px;
  top: 10px;
  right: 10px;
}

.logo--ca {
  height: 35px;
  width: 35px;
  @include grid-media($uswds) {
    height: 90px;
    width: 90px;
  }
}

// Leaflet required class

.leaflet-container {
    height: 400px;
    width: 500px;
}

.margin--none {
  margin: 0;
}

// Util

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.content--center {
  margin: auto;
}

.text--center {
  text-align: center;
}

.hide {
  display: none !important;
}

.text--dark-blue {
  color: #046b99;
}

.text__margin--20 {
  @include grid-media($tablet) {
    margin-bottom: 35px;
  }
}

#form--notification {
  @include grid-media($tablet) {
    padding-top: 29px;
  }
}

#form--notification legend {
  @include grid-media($tablet) {
    margin-bottom: 20px;
  }
}

// Table styles

.table--no-border table, th, td {
  border: none !important;
}

.table--no-border td {
  vertical-align: top !important;
}

.cell--left {
  width: 100px;
}

// Form styles

.form--inline {
  box-shadow: inset 0 0 2px black;
  margin-top: 24px;
  padding: 10px;
  position: relative;
}
