$mobile: new-breakpoint(max-width 500px);
$tablet: (
  media: 800px,
);

$uswds: (
  media: 951px,
);

h1 {
  color: #046b99;
}

.footer {
  background-color: #d6d7d9;
  height: 80px;
  margin-top: 20px;
  padding: 20px 0;
  text-align: right;
}

.container--content {
  @include span-columns(10);
  @include shift(1);
  @include grid-media($tablet) {
    @include span-columns(8);
    @include shift(2);
    @include grid-container;
  }
}

.container--left {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(7);
  }
}

.container--right {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(4);
    width: 37%;
  }
}

.container--span {
  @include span-columns(12);
}

.container--bottom {
  @include span-columns(12);
  @include grid-media($tablet) {
    margin: 20px 0 60px 0;
  }
}

.container--logo {
  @include grid-media($uswds) {
    width: 40% !important;
  }
}

.container--logo-image {
  line-height: 2rem;
  @include grid-media($uswds) {
    top: 10px;
  }
}

.container--logo-text {
  @include grid-media($uswds) {
    float: left;
    margin-top: 12px;
  }
}

.container--address {
  padding: 5px 0;
}

.container--collapse {
  @include grid-media($tablet) {
    @include grid-collapse;
  }
}

// Autocomplete

.autocomplete__item {
  padding: 2px 6px;
  cursor: default;
}

.autocomplete__item--highlighted {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

// Image & Icon Styles

.icon--disabled {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon--dismiss {
  height: 16px;
  position: absolute;
  width: 16px;
  top: 10px;
  right: 10px;
}

.icon--remove {
  height: 12px;
  margin-right: 6px;
  width: 12px;
}

.logo--ca {
  height: 35px;
  width: 35px;
  @include grid-media($uswds) {
    height: 90px;
    width: 90px;
  }
}

.margin--none {
  margin: 0;
}

// Util

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.content--center {
  margin: auto;
}

.text--center {
  text-align: center;
}

.hide {
  display: none !important;
}

.text--dark-blue {
  color: #046b99;
}

.text__margin--70 {
  @include grid-media($tablet) {
    margin-bottom: 70px;
  }
}

#form--notification {
  background-color: #e1f3f8;
  border: 1px solid #00a6d2;
  border-radius: 1em;
  margin-top: 10px;
  padding: 20px;
}

// Alert Styles

// Leaflet required class

.leaflet-container {
    height: 400px;
    width: default;
}

.map-box {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(8);
  }
}

.map-switches {
  @include span-columns(12);
  @include grid-media($tablet) {
    @include span-columns(4);
  }
}

// Table styles

.table--no-border table, th, td {
  border: none !important;
}

table {
  margin-top: 1em;
}

.table--no-border td {
  vertical-align: top !important;
}

.cell--left {
  padding: 15px 0;
  width: 100px;
}

// Form styles

.form--inline {
  box-shadow: inset 0 0 2px black;
  margin-top: 24px;
  padding: 10px;
  position: relative;
}

// USWDS Overrides

.usa-nav-submenu[aria-hidden=true] {
  display: block;
  @include grid-media($tablet) {
    display: none;
  }
}
