$mobile: new-breakpoint(max-width 500px);
$tablet: new-breakpoint(min-width 500px);
$desktop: new-breakpoint(min-width 800px);

.container--content {
  @include span-columns(10);
  @include shift(1);
  @include media($tablet) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($desktop) {
    @include span-columns(6);
    @include shift(3);
  }
}

// Autocomplete

.autocomplete__item {
  padding: 2px 6px;
  cursor: default;
}

.autocomplete__item--highlighted {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}

.icon--dismiss {
  height: 16px;
  position: absolute;
  width: 16px;
  top: 5px;
  right: 5px;
}

// Leaflet required class

.leaflet-container {
    height: 400px;
    width: 500px;
}

.margin--none {
  margin: 0;
}

// Util

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
